<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="SMTPAddress" value="smtp.gmail.com"/>
		<add key="SMTPPort" value="587"/>
		<add key="IMAPAddress" value="imap.gmail.com"/>
		<add key="IMAPPort" value="993"/>
		<add key="Username" value=""/>
	</appSettings>
</configuration>